.notfound-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 20px;
}

.notfound-content {
  max-width: 500px;
}

.notfound-image {
  width: 200px;           /* or max-width: 200px; */
  height: auto;
  margin-bottom: 20px;
  object-fit: contain;
}

.notfound-code{
  font-size: 104px;
  font-weight: bold;
  color: #ff4757;
  margin-bottom: 10px;
}

.notfound-heading{
  font-size: 32px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}
.notfound-message {
  font-size: 20px;
  color: #555;  
  margin-bottom: 20px;
}

.notfound-link {
  display: inline-block;
  text-decoration: none;
  background-color: #c90000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.notfound-link:hover {
  background-color: #ff0000;
}