@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  width: 100%;
  background-color: #b30000; /* Matching your red theme */
  color: white;
  text-align: center;
  padding: 15px 0;
}

:root {
  --red: #e53e3e;; 
  --yellow: rgb(255, 187, 0); 
  --yellow2: #e0e400;
  --red2: #b50000;  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}


body{
  background: #f4f4f4;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor:pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-links{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  /* padding: 10px; */
}

.nav-links:hover{
  color: #ffee00;
  font-size: 16px;
  font-weight: 500;
}

.btnlog{
  font-style: bold ;
  background:rgb(255, 255, 255);
  color: #000000;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btnlog:hover{
  background: rgb(255, 230, 0);
  transition: ease 0.5s;
}

.btn{
  background:white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin-top: 20px;
}

.btn:hover{
  background: #ffee00;
  transition: ease 0.5s;
}

footer a {
  color:  var(--red); /* Link color */
  text-decoration: none; /* Remove underline */
}

