@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --red: #ca0000; 
  --yellow: rgb(255, 187, 0); 
  --yellow2: #e0e400;
  --red2: #b50000;  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

body{
  background: #f4f4f4;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor:pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.nav-links{
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  /* padding: 10px; */
}

.nav-links:hover{
  color: #ffee00;
  font-size: 16px;
  font-weight: 500;
}

.btnlog{
  font-style: bold ;
  background:rgb(255, 255, 255);
  color: #000000;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.btnlog:hover{
  background: rgb(255, 230, 0);
  transition: ease 0.5s;
}

.btn{
  background:white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin-top: 20px;
}

.btn:hover{
  background: #ffee00;
  transition: ease 0.5s;
}

footer {
  background-color: var(--red2); /* Light gray background */
  color: #ffffff; /* Dark gray text color */
  text-align: center; /* Center-align the text */
  padding: 1rem 0; /* Add some padding */
  font-size: 0.875rem; /* Smaller font size */
  border-top: 1px solid #ddd; /* Add a border on top */
  
  left: 0;
  bottom: 0;
  width: 100%; /* Full width */
}

footer a {
  color:  var(--red); /* Link color */
  text-decoration: none; /* Remove underline */
}

footer a:hover {
  text-decoration: underline; /* Add underline on hover */
}