.title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    
    margin: 70px 0 30px;
}

.title h2{
    font-size: 32px;
    color: var(--red);
    margin-top: 5px;
    text-transform: none;
}

.title p{
    font-size: 30px;
    color: rgb(192, 157, 0);
    margin-top: 5px;
    text-transform: none;

}